.card{
    position: relative;
    background-color:aliceblue ;
    display: flex;
    margin : auto;
    margin-top: 60px;;
    width: 80%;
    height: 540px;
    justify-content: center;
    align-items: center;
    border: 2px solid ;
}

.your-profile{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 24px;

}

.user-info li{
    padding:25px;
    margin-left: 40px;
}

.user-info{
    background-color: #ffff;
    border: 1px solid;
    margin-left: 10px;
    margin-right : 20px;
    width:60%;
    height: 80%;
}

.card button {
    position:absolute;
    bottom: 8px;
    right:19px;
    background-color: deepskyblue;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    /* padding: 10px 15px; */
    cursor: pointer;
  }
  
.card button:hover {
    background-color: lightskyblue;
  }
.user-photo{
    width: 40%;
    margin-left: 10px;
    height:480px;
    font-size: 18px;
    background-image: url("C:\GreenApple\GreenApple\n-frontend\public\user1.jpg");
    background-size:auto;
}
